<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

    <bean id="juggler" class="springIdol.Juggler">
        <constructor-arg value="15"/>
    </bean>

    <bean id="audience" class="springIdol.Audience"/>
    <bean id="audience2" class="springIdol.AroundAudience"/>
    <bean id="volunteer" class="springIdol.Volunteer"/>
    <bean id="magician" class="springIdol.Magician"/>



    <aop:aspectj-autoproxy/>






</beans>